header.header.header-js#header
  //- .logo
  //-   a(href='index.html').logo__link
  //-     +svg('logo').logo__img
  .logo
    a(href='index.html').logo__link
      <svg class="logo__img" viewBox="0 0 270 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="270" height="65" fill="white"/>
        <path d="M215.122 49.262L197.784 25.09H191.254V51.7363H194.996V27.5643L212.258 51.7363H218.827V25.09H215.122V49.262Z" fill="#2D2D2D"/>
        <path d="M41.7066 25.09L28.5312 51.7364H32.6939L36.6656 43.6663H53.0489L57.0206 51.7364H61.2215L48.0461 25.09H41.7066ZM38.346 40.3165L44.8764 27.1456L51.3686 40.3165H38.346Z" fill="#2D2D2D"/>
        <path d="M168.683 25.09L155.508 51.7364H159.67L163.642 43.6663H180.025L183.997 51.7364H188.198L175.023 25.09H168.683ZM165.322 40.3165L171.853 27.1456L178.345 40.3165H165.322Z" fill="#2D2D2D"/>
        <path d="M134.997 25.09H131.293V51.7364H153.939V48.3865H134.997V25.09Z" fill="#2D2D2D"/>
        <path d="M127.174 25.09H121.637L100.098 42.905V25.09H96.3555V51.7364H100.098V47.3587L113.159 36.6241L122.974 51.7364H127.442L116.061 34.2259L127.174 25.09Z" fill="#2D2D2D"/>
        <path d="M89.8261 38.87C90.7809 37.6138 91.3155 35.9389 91.3919 33.8072C91.3919 32.3607 91.1628 31.1045 90.7045 30.0006C90.2844 28.8966 89.6352 28.0211 88.8332 27.2979C88.0312 26.5746 87.0765 26.0036 85.9308 25.661C84.7851 25.2804 83.5249 25.09 82.1118 25.09H64.2773V51.7364H68.0199V41.9914H81.8827L87.4202 51.6983H91.812L85.8926 41.4965C87.5729 41.0017 88.8714 40.1262 89.8261 38.87ZM80.8516 38.6416H68.0199V28.4399H81.2717C83.3339 28.4399 84.8615 28.8966 85.8926 29.8102C86.9237 30.6858 87.4202 31.9419 87.4202 33.5788C87.4202 35.2156 86.8855 36.4718 85.778 37.3473C84.7087 38.2229 83.0666 38.6416 80.8516 38.6416Z" fill="#2D2D2D"/>
        <path d="M24.4413 27.2987C23.6393 26.5755 22.6846 26.0045 21.5389 25.6619C20.3932 25.2812 19.1329 25.0909 17.7199 25.0909H0V51.7372H3.74257V41.9923H17.7199C19.0948 41.9923 20.355 41.84 21.4625 41.4974C22.57 41.1548 23.5247 40.6599 24.3267 40.0128C25.1287 39.3657 25.7779 38.4902 26.2362 37.4624C26.6945 36.4346 26.9618 35.2165 27 33.808C27 32.3615 26.7708 31.1053 26.3126 30.0014C25.8925 28.8975 25.2433 28.022 24.4413 27.2987ZM21.5389 37.3482C20.546 38.2237 19.2093 38.6424 17.5672 38.6424H3.74257V28.4407H17.5672C19.2093 28.4407 20.546 28.8975 21.5389 29.8111C22.5318 30.6866 23.0283 31.9428 23.0283 33.5796C23.0283 35.2165 22.5318 36.4727 21.5389 37.3482Z" fill="#2D2D2D"/>
        <path d="M250.947 32.7413C250.832 32.4368 250.718 32.1323 250.603 31.8658C250.565 31.7516 250.488 31.6374 250.45 31.5232C250.068 30.7238 249.648 30.0005 249.152 29.3534C248.426 28.4398 247.548 27.7166 246.517 27.1456C246.326 27.0314 246.097 26.9172 245.867 26.803C245.829 26.7649 245.753 26.7649 245.715 26.7269C245.18 26.4604 244.607 26.232 244.034 26.0417C243.805 25.9655 243.538 25.8894 243.271 25.8133C242.125 25.5087 240.941 25.3184 239.681 25.2042C239.604 25.2042 239.528 25.2042 239.452 25.2042C238.306 25.1281 237.16 25.0519 236.053 25.0519H224.176V51.6983H238.039C240.215 51.6983 242.125 51.4318 243.805 50.9369C245.486 50.404 246.899 49.5666 248.044 48.4626C249.228 47.3587 250.106 45.9122 250.679 44.1231C251.29 42.334 251.596 40.2023 251.596 37.6518V37.4615C251.596 35.6343 251.367 34.0736 250.947 32.7413ZM247.204 42.334C246.937 43.5902 246.44 44.6941 245.638 45.6077C244.875 46.4832 243.767 47.1684 242.354 47.6633C240.941 48.1581 239.07 48.3865 236.74 48.3865H227.918V28.4398H236.282C238.344 28.4779 240.101 28.6682 241.514 29.0489C242.316 29.2392 243.08 29.5057 243.691 29.8483C244.187 30.1147 244.645 30.4193 245.027 30.7619C245.944 31.5232 246.593 32.5129 247.013 33.693C247.051 33.8072 247.089 33.9214 247.128 33.9975C247.471 35.1395 247.624 36.4337 247.624 37.9944C247.624 39.5932 247.471 41.0397 247.204 42.334Z" fill="#2D2D2D"/>
        <path d="M246.286 7.53462C241.932 12.2548 239.87 20.2868 239.488 25.2354C239.565 25.2354 239.641 25.2354 239.717 25.2354C240.978 25.3496 242.162 25.5399 243.307 25.8445C243.575 25.9206 243.804 25.9967 244.071 26.0729C246.515 22.8372 251.289 17.7364 254.268 15.1479C254.268 15.1479 249.074 21.9236 245.751 26.758C244.911 27.9762 244.224 29.042 243.727 29.8795C244.224 30.1459 244.682 30.4505 245.064 30.7931C245.981 31.5544 246.63 32.5441 247.05 33.7242C247.088 33.8384 247.126 33.9526 247.164 34.0287C248.157 33.3816 249.379 32.6964 250.678 31.8589C252.74 30.5647 255.108 29.0039 257.437 27.0245C258.583 26.0729 259.805 24.9309 261.142 23.4844C265.877 18.2693 270.002 8.94307 270.002 0.834967C261.333 -1.5632 251.976 1.36789 246.286 7.53462Z" fill="#79B43E"/>
      </svg>
      +svg('logo-mobile')

  .nav
    a(href='tel:+380505008584').nav__tel-link
      span.nav__tel-text + 38 (050) 500-85-84
    include ../components/lang/lang.pug
    button(type='button').nav__call-btn.js-call
      span.nav__call-btn-text замовити дзвінок
    +svg('phone').header-mobile-call.js-mobile-call
    a(href='#').realty__link
      span.realty__text обрати нерухомість
      +svg('key')
    .menu.js-menu-open
      span.menu__text меню
      .menu__btn
        +svg('menu').menu__img


//- header.header-js#header
//-   a(href='index.html').logo
//-     +svg('logo')
//-   .header-nav
//-     a(href='tel:+380505008584').header-tel 
//-       span + 38 (050) 500-85-84
//-     include ../components/lang/lang.pug
//-     button(type='button').header-call.js-call
//-       span замовити дзвінок
//-     a(href='#').realty
//-       span обрати нерухомість
//-     .header-menu.js-menu-open
//-       span меню
//-       .button--skoll 
//-         +svg('menu')

