extends ../layout/main
block variable
  -
    var title_page = 'Контакти'
    var id_page = 'contacts'
    var class_page = 'contacts'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/map.js')
  script(defer src='./assets/scripts/scroll-down.js')
  script(defer src='./assets/scripts/footer.js')
block arrow 
  +svg('scroll-down').js-scroll-down
block content
  include ../includes/breadcrumbs.pug
  section.documents-content
    .documents-sticker
      h5 contacts
    h1.documents-title(data-span-entry1) Контакти
    .map(width="500" height="500px")
      #map(width="500" height="500px")
      .contact-card
        .contact-card__title Відділ продажу
        .contact-card__adress м. Ужгород, вул. Легоцького, 80
        .contact-card__adress пн-вс: 09:00-18:00
        a(href="https://goo.gl/maps/LvtwjzsAxMyZJuuN8" target="_blank").contact-card__link
          span Переглянути на карті
        .connection
          .connection__title зв’язок:
          .connection__person
            .connection__person--img 
              img(src="./assets/images/manager.jpg", alt="")
            .connection__person--info
              .connection__person--name Маріанна
              .connection__person--position менеджер з продажу
          .connection__person--link
            a(href="tel:+380505008584").connection__tel + 38 (050) 500-85-84
            a(href="mailto:parkland.uz@gmail.com").connection__tel parkland.uz@gmail.com
        .contacts__link
          button(type='button').realty__link.js-call
            span.realty__text замовити дзвінок
        .social
          h5.social__title Соціальні мережі
          ul.social__list
            li.social__item
              a(href="#").social__link instagram
            li.social__item
              a(href="#").social__link Facebook
block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug



