extends ../layout/main
block variable
  -
    var title_page = 'для інвестора'
    var id_page = 'investor'
    var class_page = 'investor'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/scroll-down.js')
  script(defer src='./assets/scripts/footer.js')
block arrow 
  +svg('scroll-down').js-scroll-down
block content
  include ../includes/breadcrumbs.pug
  section.documents-content
    .documents-sticker
      h5 Commercial 
    h1.documents-title(data-span-entry1) для інвестора 
    .post-service
      .post-service__title(data-span-entry1)
        h3 Чому варто інвестувати саме в нерухомість PARK LAND:
      .post-service__content
        .post-service__img
          img(data-paralax src="./assets/images/investor.jpg", alt="")
        ul.post-service__list
          li.post-service__item.investor__item
            .post-service__item--number 1
            .post-service__item--text Ви не витрачаєте свій час на підбір орендарів, на вирішення всіх поточних питань чи на обслуговування об'єкта. Цим займаються наші менеджери. Ваша задача - тільки повідомити, куди зручно отримати свій дохід
          li.post-service__item
            .post-service__item--number 2
            .post-service__item--text Рентабельні інвестиції з окупністю до 12 років
          li.post-service__item.investor__item
            .post-service__item--number 3
            .post-service__item--text Пасивний прибуток від здачі квартири від $3000 річних
          li.post-service__item.investor__item
            .post-service__item--number 4
            .post-service__item--text Пасивний прибуток від здачі комерції від $8000 річних
          li.post-service__item
            .post-service__item--number 5
            .post-service__item--text Ліквідна нерухомість, яка з часом зростає  в ціні
      

      .sale
        .sale__contacts
          .sale__contacts--title відділ продажу:
          .sale__contacts--adress м. Ужгород, вул. Легоцького, 80
          .sale__contacts--link
            a(href="https://goo.gl/maps/LvtwjzsAxMyZJuuN8" target="_blank")
              span Переглянути на карті
          .sale__contacts--title графік роботи:
          .sale__contacts--adress пн-вс: 09:00-18:00
        .connection
          .connection__title зв’язок:
          .connection__person
            .connection__person--img 
              img(src="./assets/images/manager.jpg", alt="")
            .connection__person--info
              .connection__person--name Маріанна
              .connection__person--position менеджер з продажу
          .connection__person--link
            a(href="tel:+380505008584").connection__tel + 38 (050) 500-85-84
            a(href="mailto:parkland.uz@gmail.com").connection__tel parkland.uz@gmail.com
          .sale__link.contacts__link 
            a(href='#').realty__link.js-call
              span.realty__text замовити дзвінок 

block header 
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug



